.button {
  margin: 5px;
  padding: 3px 3px;
  color: #fff;
  background-color: #dda5f5;
  border: 1px solid #7a3498;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background-color: #7a3498;
  }
}
